.index {
    /* background-color: red; */
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 20px;
    margin-right: 20px;
}

.card {
    background-color: beige;
    margin-left: 10px;
    margin-right: 10px;
}

.supplyDetails {
    background-color: beige;
}

.cart {
    background-color: beige;
}