
//color variables 
$primary-color:  #ffd700;
$secondary-color: #2e2a12;
$off-white: #fffdf4;

// font variables 
$heading-font: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;;
$body-font: 'Open Sans', sans-serif;


header {
    background-image: url('https://garden.spoonflower.com/c/5714095/p/f/m/NyG_FggolYkWtMVv82Sq2jPkBnRX9BB-d3NZWG9Izmp84p-FNWGVKreo/Black%20and%20White%20Composition%20Notebook%20-%20Small%20Scale.jpg');
    background-position: center;
    height: 8rem;
    position: relative;
   

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.24);
      z-index: 1;
    }
  
    .header-content {
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      padding: 0 20px;

      a {
        text-decoration: none;
      }
  
      h1 {
        font-family: $body-font;
        font-size: 28px;
        color: #000000;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 0;
        font-weight: 700;
        text-shadow: 4px 2px $primary-color;
     
        background-color: #fff;
     
       
      }
  
      nav {
        ul {
          list-style: none;
          display: flex;
          margin: 0;
  
          li {
            margin-left: 20px;
            a {
              text-decoration: none;
              color: #fff;
              font-size: 16px;
              font-weight: 500;
              letter-spacing: 1px;
              transition: all 0.2s ease-in-out;
              background-color: $primary-color;
              &:hover {
                color: #ffd700;
              }
            }
          }
        }
      }
    }
  }

  // Index page SCSS
  .index {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100%;
    background-color:#fbf8e6;


    .cart-box {
        background-color: white;
        margin: 1rem;
        padding: 2rem;

    }

   
 
    .cards {
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        font-family: $body-font;
    
        .card {
            img {
                max-width: 16rem;
            }
          margin:auto;
          padding: 20px;
          &:hover {
            box-shadow: 0 0 10px rgba(0,0,0,0.3);
            background-color: $off-white;
          }
          
          .img {
            width: 100%;
            height: 0;
            padding-bottom: 100%;
            background-size: cover;
            background-position: center;
          }
          
            .product {
              font-size:0.8vw;
              font-weight: bold;
              margin-bottom: 5px;
              text-decoration: none;
              color: $secondary-color;
            }
            
            .product-price {
              font-family: $heading-font;
              color: $secondary-color;
              font-size:1.5vw ;
              font-weight: bold;
          }
        }
      }

  }


  .supplyDetails {
    width: 15rem;
    .description {
        background-color: $off-white;
    }
  }

  .cart-box {
    font-family: $body-font;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    span {
        font-size: 1.3rem;  
    }
  }

  .new-supply-form {
    font-family: $body-font;
  }

  .button-link {
    font-family: $body-font;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .button-link:hover {
    background-color: #45a049;
  }
  
  .button-link:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
  }
 
  .in_stock {
    color: green;
  }

  .out_stock {
    color: red;
  }

  
  

 
  
  
//  .navbar ul {
//      display: grid;
//      grid-template-columns: 1fr 1fr;
//      justify-content: right;
//  } 
 
// header::before {
//     content: "";
//     background-image: url("https://garden.spoonflower.com/c/5714095/p/f/m/NyG_FggolYkWtMVv82Sq2jPkBnRX9BB-d3NZWG9Izmp84p-FNWGVKreo/Black%20and%20White%20Composition%20Notebook%20-%20Small%20Scale.jpg");
//     position: absolute;
//     top: 0px;
//     right: 0px;
//     bottom: 0px;
//     left: 0px;
//     opacity: 0.75;
//     background-color: white;

// }
// header {
//     margin:auto;
//     position: relative;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 80px;
//     .frame {
//         display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 10px;
//   background-color: black;

//     }
//     a {
//         text-decoration: none; 
//         color: white;
//         text-decoration: none;
//         font-weight: bold;
//     }
//     nav ul {
//         margin: 0;
//         padding: 0;
//         list-style: none;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//  li {
//     margin-right: 20px;
//   }
//       }
// }

// .cards {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
//     margin-left: 20px;
//     margin-right: 20px;
// }

// .card {
//     border: 1px black;
//     margin-left: 10px;
//     margin-right: 10px;
// }

// .supplyDetails {
//     background-color: beige;
// }

// .cart {
//     background-color: beige;
// }

// .form-container {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
    
//   }
  form {
    width: 30rem;
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
    border: 4px solid hsl(0, 0%, 90%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

   
  }